<div class='sticker_wrapper'>
    <video
        id='sticker_img_{{sticker_id}}'
        class='sticker_img'
        src='{{sticker_path}}'
        alt='{{sticker_desc}}'
        autoplay
    />
</div>