<div id='csat__stars'>
    <div id='csat__star_1' class='csat__star'>☆</div>
    <div id='csat__star_2' class='csat__star'>☆</div>
    <div id='csat__star_3' class='csat__star'>☆</div>
    <div id='csat__star_4' class='csat__star'>☆</div>
    <div id='csat__star_5' class='csat__star'>☆</div>
</div>