@import '../../styles/index.scss';

$chat-bg-color: $blue;
$chat-input-color: $blue-light;
$chat-input-color-hover: $blue-light-hover;

main {
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $chat-bg-color;
}

.chat {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    justify-content: flex-end;
}

.chat_header {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 $border-radius $border-radius;

    background-color: $blue-light;
    display: flex;
    flex: 0 0 10%;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    justify-content: space-between;
}

.chat_width {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    padding-left: 10px;
    padding-right: 10px;
}

.chat-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.message_list {
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}

.input_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-input {
    background-color: $chat-input-color;
    margin-top: 7px;
    margin-bottom: 7px;
}

.input_attach,
.input_send {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    flex: 0 0 10%;
    padding: auto;
}

.input_attach:hover,
.input_send:hover {
    background-color: $chat-input-color-hover;
    transition: $transition;
}

.input_text {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: auto;
    padding-left: 15px;
    border-radius: $border-radius;
    margin-right: 10px;
    margin-left: 10px;
}
