main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.chat_header {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0 0 10px 10px;

    background-color: #C9D8ED;
    display: flex;
    flex: 0 0 10%;
    align-items: center;
    padding-left: 25px;
}

.chat_width {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    padding-left: 10px;
    padding-right: 10px;
}


.chat-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.message_list {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 10px 10px 10px 1px;
    background-color: #c2c2c2;
    padding: 10px;
    max-width: 75%;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 5px;
}

.my_message {
    border-radius: 10px 10px 1px 10px;
    background-color: #A5B6CF;
    margin-left: auto;
    margin-right: 0;
}

.input_block {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_attach,
.input_send {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    flex: 0 0 10%;
    padding: auto;
}

.input_text {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: auto;
    padding-left: 15px;
    border-radius: 10px;
    margin: 10px 10px;
}