.center-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fullscreen-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--aside-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile_field {
    margin: 15px 0;
    font-weight: bold;
    font-size: 1.1em;
    background-color: var(--blue-dark);
    height: 1px;
}

.profile_field:not(:last-child) {
    border-bottom: 1px;
}

#profile-avatar {
    width: 100px;
    border-radius: 50%;
}