.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-button {
    /* TODO выделить кнопку входа и регистрации */
}

.form-button:hover {
    /* TODO */
}

.form-error-message {
    color: red;
    margin-top: 10px;
}