:root {
    --form-bgc: var(--blue-light);
    --form-input-color: var(--white);
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--form-bgc);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-input {
    margin-top: 3px;
    background-color: var(--form-input-color);
}

.form-error-message {
    color: red;
    margin: 0px;
}