<div class='contact_item'>
    <button class='inline_button contact_item__fullname' id='contact_{{id}}'>
        @{{username}}
    </button>
    <p class='contact_item__username'>{{name}} {{surname}}</p>
</div>