aside.chat {
    background-color: var(--aside-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    flex: 0 0 25%;
    padding: 5px;
}

.chat_list_header {
    background-color: var(--aside-color);
    display: flex;
    align-items: center;
    padding-left: 25px;
    flex: 0 0 10%;
}

.chat_list {
    background-color: var(--aside-color);
    overflow: auto;
    height: 100%;
}

.chat_list_menu {
    background-color: var(--blue-light);
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 25px;
    padding-right: 25px; */
    border-radius: var(--border-radius);
}

.search_input {
    margin-top: 0;
    margin-bottom: 4px;
    width: 100%;
}

.profile_wrapper {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#profile_btn {
    font-size: 1.1em;
}