<aside class='chat'>
    <div class='chat_list_header'>
        <h2> Чаты </h2>
    </div>
    <div className='seach_container'>
        <input class='search_input' placeholder='Поиск...' disabled />
    </div>
    <div class='chat_list' id='chat-list-container'> </div>
    <div class='chat_list_menu'>
        <button id='profile_btn'>Мой профиль</button>
    </div>
    <button id='logout_btn'>Выйти</button>
</aside>