<aside class='chat'>
    <div class='chat_list_header'>
        <h2> Чаты </h2>
        <button id='create_group_btn' class='chat-list-button inline_button'>Создать группу</button>
    </div>
    <div class='search_container'>
        <input id='search_input' class='search_input' placeholder='Поиск...' />
    </div>
    <div class='chat_list' id='chat-list-container'> </div>
    <div class='chat_list_menu'>
        <div class='profile_wrapper'>
            <button id='profile_btn' class='chat-list-button inline_button'>Мой профиль</button>
            <button id='logout_btn' class="chat-list-button">Выйти</button>
        </div>
        <button id='contacts_btn' class='chat-list-button inline_button'>Контакты</button>
    </div>
</aside>