<aside class='chat'>
    <div class='chat_list_header'>
        <h2> {{header}} </h2>
        <div class='chat_list_header_buttons'>
            <button id='create_group_btn' class='chat-list-button inline_button' style="display: none;">Создать группу</button>
            <button id='page_channel_btn' class='chat-list-button inline_button' style="display: none;">Каналы</button>
            <button id='create_channel_btn' class='chat-list-button inline_button' style="display: none;">Создать канал</button>
            <button id='page_chats_btn' class='chat-list-button inline_button' style="display: none;">Чаты</button>
        </div>
    </div>
    <div class='search_container'>
    </div>
    <div class='chat_list' id='chat-list-container'> </div>
    <div class='chat_list_menu'>
        <div class='profile_wrapper'>
            <button id='profile_btn' class='chat-list-button inline_button'>Мой профиль</button>
            <button id='logout_btn' class="chat-list-button">Выйти</button>
        </div>
        <button id='contacts_btn' class='chat-list-button inline_button'>Контакты</button>
    </div>
</aside>