@import '../../styles/constants.scss';

aside.chat {
    background-color: $aside-color;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    flex: 0 0 25%;
    padding: 5px;
}

.chat_list_header {
    background-color: $aside-color;
    display: flex;
    align-items: center;
    padding-left: 25px;
    flex: 0 0 10%;
    padding-right: 25px;
    justify-content: space-between;
}

.chat_list_header_buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.chat_list {
    background-color: $aside-color;
    overflow: auto;
    height: 100%;
}

.chat_list_menu {
    flex: 0 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: $border-radius;
    margin: 0px 30px 35px 30px;
}

.search_input {
    margin-top: 0;
    margin-bottom: 4px;
    width: 100%;
}

.profile_wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#profile_btn {
    font-size: 1.1em;
}

.chat-list-button {
    font-size: 1em;
    margin-bottom: 10px;
}

#logout_btn {
    margin: 0;
}
