<aside class='chat'>
    <div class='chat_list_header'>
        <h2> Чаты </h2>
    </div>
    <div className='seach_container'>
        <input class='search_input' placeholder='Поиск...' disabled />
    </div>
    <div class='chat_list' id='chat-list-container'> </div>
    <div class='chat_list_menu'>
        <div class='profile_wrapper'>
            <button id='profile_btn' class='inline_button'>Мой профиль</button>
            <button id='logout_btn'>Выйти</button>
        </div>
    </div>
</aside>