$border-radius: 10px;
$transition: all 0.3s;

$white: #F8F8F8;
$gray: #c2c2c2;
$blue-light: #4F9EE6;
$blue-light-hover: #c9d6de;
$blue-dark: #17212B;
$blue: #2B5278;
$blue-hover:  #202B36;

$aside-color: $blue-dark;
$input-color: $blue-dark;
$btn-color: $blue;
$text-color: #D9DBDC;

$background-url: url('../img/background.png');