@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --border-radius: 10px;

    --white: #f0f0f0;
    --green-light: #5abe48;
    --gray: #c2c2c2;
    --blue-light: #C9D8ED;
    --blue-light-hover: #d9e1ec;
    --blue: #A5B6CF;
    --blue-hover: #b0c1da;
}

body {
    font-family: "Roboto", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--white);
}

.full-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}


button {
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid #ddd;
    background-color: var(--blue-light);
    color: black;
    cursor: pointer;
}

button:hover {
    transition: .3s;
    border: 1px solid var(--blue-light-hover);
    background-color: var(--blue-light-hover);
}

input {
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid #ddd;
    background-color: var(--blue-light);
    color: black;
    cursor: pointer;
}