<div class='fullscreen-container'>
    <div class='center-container'>
        <div class='statistics'>
            <div class='statistics_header'>
                <div class='statistics_back_btn'>
                    <button id='backButton'>&lt;</button>
                </div>
                <h2 class='text_center statistics_title'>Статистика</h2>
            </div>
            <div id='statistics_list'></div>
        </div>
    </div>
</div>