<div class='chat_list_item' id='chat_list_item_{{id}}'>
    {{! TODO: аватаркаx }}
    <p>{{name}}</p>
    {{! TODO: последнее сообщение }}
    {{! TODO: вреся и 'прочитано' }}
    <p class='three-dots'>...</p>
</div>