@import '../../styles/constants.scss';

$chat-list-item-color-hover: $blue;

.chat_list_item {
    cursor: pointer;
    padding: 15px;
    border-radius: $border-radius;
    margin: 4px 0px;
    display: flex;
    justify-content: space-between;
    color: $text-color;
}

.chat_list_item:hover {
    transition: $transition;
    background-color: $chat-list-item-color-hover;
}

.chat_list_item__active {
    background-color: $chat-list-item-color-hover;
}

.chat_list_item__active:hover {
    transition: $transition;
    background-color: $chat-list-item-color-hover;
}

.chat_name {
    width: 100%;
}

.three_dots {
    text-align: right;
}

.modal {
    position: absolute;
    right: 0;
    background-color: $aside-color;
    border-radius: $border-radius;
    z-index: 1;
    padding: 5px;
}

.hidden {
    display: none;
}

.modal_chat_item_wrapper {
    position: relative;
}
