<div id='csat__numbers'>
    <button id='csat__number_1' class='csat__number'>1</button>
    <button id='csat__number_2' class='csat__number'>2</button>
    <button id='csat__number_3' class='csat__number'>3</button>
    <button id='csat__number_4' class='csat__number'>4</button>
    <button id='csat__number_5' class='csat__number'>5</button>
    <button id='csat__number_6' class='csat__number'>6</button>
    <button id='csat__number_7' class='csat__number'>7</button>
    <button id='csat__number_8' class='csat__number'>8</button>
    <button id='csat__number_9' class='csat__number'>9</button>
    <button id='csat__number_10' class='csat__number'>10</button>
</div>