#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    height: 100%;
    flex: 0 0 25%;
    background-color: #e8e8e8;

}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat_list_header {
    display: flex;
    align-items: center;
    padding-left: 25px;
    flex: 0 0 10%;
    border-bottom: 1px solid silver;
}

.chat_list {
    overflow: scroll;
    height: 100%;
}

.chat_list_item {
    padding: 15px;
    border: 1px solid silver;
    margin: 2px;
}

.chat_menu {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.chat_header {
    display: flex;
    align-items: center;
    padding-left: 25px;
    flex: 0 0 10%;
    border-bottom: 1px solid silver;
}

.chat {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.message_list {
    overflow: scroll;

    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 10px 10px 10px 0px;
    background-color: #c2c2c2;
    padding: 10px;
    width: 75%;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 5px;
}

.my_message {
    border-radius: 10px 10px 0px 10px;
    background-color: #58ca17;
    margin-left: auto;
    margin-right: 0;
}