@import '../../styles/constants.scss';

.center-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fullscreen-container {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $aside-color;
    padding: 20px;
    border-radius: $border-radius;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.contacts_back_btn {
    position: absolute;
    height: 100%;
}

.contacts_header {
    display: flex;
    width: 100%;

}

.contacts_title {
    width: 100%;
}

.search_input {
    margin-top: 0;
    margin-bottom: 4px;
    width: 100%;
}

#contact_list {
    max-height: 500px;
    overflow: auto;
}