<div class='fullscreen-container'>
    <div class='center-container'>
        <div class='contacts'>
            <div class='contacts_header'>
                <div class='contacts_back_btn'>
                    <button id='backButton'>&lt;</button>
                </div>
                <h2 class='text_center contacts_title'>Контакты</h2>
            </div>
            <div class='search_container'>
                <input id='search_input' class='search_input' placeholder='Поиск...' />
            </div>
            <div id='contact_list'></div>
        </div>
    </div>
</div>