<div class='fullscreen-container'>
    <div class='center-container'>
        <div class='contacts'>
            <div class='contacts_header'>
                <h2 class='text_center contacts_title'>Контакты</h2>
            </div>
            <ul class='contacts_list'>

            </ul>
        </div>
    </div>
</div>