:root {
    --message-color: var(--white);
    --my-message-color: var(--blue-light);
}

.message {
    border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 1px;
    background-color: var(--message-color);
    padding: 10px;
    max-width: 75%;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 5px;
}

.my_message {
    border-radius:  var(--border-radius) var(--border-radius) 1px var(--border-radius);
    background-color: var(--my-message-color);
    padding: 10px;
    max-width: 75%;
    margin-left: auto;
    margin-right: 0;
    margin-bottom: 5px;
}

.message_data {
    display: flex;
    flex-direction: column;
}

.time {
    font-size: 12px;
    color: #999;
    align-self: flex-end;
}